@font-face {
    font-family: PressStart2P;
    src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf)
}

/* Estilos Generales */
*{
    font-family: OpenSans;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
h1{
    font-family: PressSTart2P;
    padding: 30px;
}
body{
    background-image: url(../img/assets/background.webp);
    background-size: cover;
}

.logoNav{
    height: 50px;
}

/* Index */
.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

}
.logo{
    width: 70%;
}
.eslogan{
    font-family: OpenSans;
    font-size: 30px;
    text-align: center;
}

.topVendidos{
    text-align: center;
    padding: 10px;
}
.gridTopVendidos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tarjeta{
    border: 2px solid #6c5ce7;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta img{
    width: 90%;
}
.nombreJuego{
    margin-top: 2px;
    color: #00cec9;
}

/* Productos */
.catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.tarjetaCatalogo{
    width: 27%;
    border:2px solid #6c5ce7;
    padding: 1%;
    margin: 1%;
    box-sizing: border-box;
}
.tarjetaCatalogo img{
    width: 90%;
}
.precio{
    font-size: 50px;
    color: #27ae60;
}
.botonComprar{
    width: 60%;
    color: #00cec9;
    background-color: #6c5ce7;
    border: #ffffff;
}
.botonComprar:hover{
    color:#6c5ce7;
    background-color: #00cec9;
}

/* Contacto */
.formularioContacto{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #6c5ce77e;
    border: 2px solid #6c5ce7;
    justify-content: center;
}
.formularioContacto label{
    margin: 5px;
    color: #6c5ce7;
}
.formularioContacto input, .formularioContacto textarea{
    margin: 5px;
    padding: 5px;
    border: 2px solid #6c5ce7;
    background-color: #00cec9;
}
.formularioContacto button{
    margin-top: 15px;
    color:#00cec9;
    background-color: #6c5ce7;
}
.formularioContacto button:hover{
    color:#6c5ce7;
    background-color: #00cec9;
}

/* Novedades */
.novedades{
    display: flex;
    flex-wrap: wrap;
}
.novedad{
    border: 1px #6c5ce7 solid;
    box-sizing: border-box;
    width: 50%;
}
.novedad h2{
    color: #6c5ce7;
}
.novedad h3{
    color:#00cec9;
    font-size: 18pt;
}

@media (max-width: 768px) {
  .gridTopVendidos {
    grid-template-columns: 1fr;
  }
  .tarjetaCatalogo{
    width: 80%;
  }
  .novedad{
    width: 100%;
  }
}